html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


  .skill-icon {
    font-size: 100px;
    padding: 30px;
  }

  .typescript-image {
    width: 160px;
    height: 160px;
    padding: 30px;
  }

  .scala-image{
    /* width: 100px; */
    height: 100px;
    padding: 20px 10px;
    margin: 30px;
    background-color:#212529;
  }

  .jquery-image {
    height: 100px;
  }

  .tomcat-image {
    height: 100px;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .container{
    padding-top: 145px;
  }

  nav a {
    white-space: nowrap;
  }

  .appbutton {
    width: 60%;
    margin: auto;
}

  .row-headings {
    border-width: 0 0 6px  0;
    border-color: #f0f0f0;
    border-style: solid;
  }

  .rows {
    border-width: 0 0 3px  0;
    border-color: #f0f0f0;
    border-style: solid;
  }

  .contact-icon {
    font-size: 60px;
  }

  footer {
    padding-bottom: 100px;
  }

  /* .lead {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 10vw;
    padding-right: 10vw;
  } */