  html {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


  .project-image {
    width:300px;
    float:none;
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    .project-image {
      width:300px;
      float: right;
      padding-left: 50px;
    }
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .container{
    padding-top: 145px;
  }

  nav a {
    white-space: nowrap;
  }

  .appbutton {
    width: 60%;
    margin: auto;
  }

  .row-headings {
    border-width: 0 0 6px  0;
    border-color: #f0f0f0;
    border-style: solid;
  }

  .rows {
    border-width: 0 0 3px  0;
    border-color: #f0f0f0;
    border-style: solid;
  }

  .contact-icon {
    font-size: 60px;
  }

  footer {
    padding-bottom: 100px;
  }